<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Compiled icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Atualiza-form</title>
</head>
<body>
    <div class="head-cadastro">
        <div>
            <h1>Atualiza um contato</h1>
        </div>
        <div class="btn-head">
            <a class="waves-effect waves-light btn-small" href="{{url_for('contatos')}}">
                <i class="material-icons right" >arrow_back</i>
            Voltar
            </a>
        </div>
    </div>
    <div class="form">
        <div class="row">
            <form 
              action="{{url_for('atualiza_contato', email=contato.email)}}"
              method="POST"
              class="col s12"
            >
              <div class="row">
                <div class="input-field col s6">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="nome" type="text" class="validate" name="nome" value="{{contato.nome}}">
                  <label for="nome">Nome</label>
                </div>
                <div class="input-field col s6">
                  <i class="material-icons prefix">phone</i>
                  <input id="icon_telephone" type="tel" class="validate" name="celular" value="{{contato.celular}}">
                  <label for="icon_telephone">Telephone</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <i class="material-icons prefix">email</i>
                  <input id="email" type="text" class="validate" name="email" value="{{contato.email}}">
                  <label for="email">email</label>
                </div>
                <div class="input-field col s6">
                  <button class="waves-effect waves-light btn-small">
                    ATUALIZA CONTATO
                  </button>
                </div>
              </div>
            </form>
          </div>
    </div>
</body>
</html>