<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <title>Contatos</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper sidebar">
            <a href="#" class="brand-logo title-sidebar">Infinity Flask</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down sutitle-sidebar">
                <li>
                    <ul href="sass.html">Home
                </li>
                <li>
                    <ul href="badges.html">Contatos
                </li>
                <li>
                    <ul href="collapsible.html">Sobre
                </li>
            </ul>
        </div>
    </nav>
    <div class="btn-adicionar-contato">
        <a class="waves-effect waves-light btn-small">ADICIONAR CONTATO
            <span class="material-symbols-outlined">
                add
            </span>
        </a>
    </div>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Em@il</th>
                    <th>Celular</th>
                    <th>#Tags</th>
                    <th>...</th>
                </tr>
            </thead>
            <tbody>
                {% for contato in contatos %}
                <tr>
                  <td>{{contato.nome}} </td>
                  <td>{{contato.email}} </td>
                  <td>{{contato.celular}} </td>
                  <td>
                      <a class="waves-effect waves-light btn-small">Familia</a>
                      <a class="waves-effect waves-light btn-small">Compras</a>
                  </td>
                  <td>
                      <a class="waves-effect waves-light btn-small">Btn deletar</a>
                      <a class="waves-effect waves-light btn-small">Btn editar</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
        </table>
    </div>
</body>
</html>