<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Compiled icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Contatos</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper sidebar">
            <a href="#" class="brand-logo title-sidebar">Infinity Flask</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down sutitle-sidebar">
                <li>
                    <a href="sass.html">Home</a>
                </li>
                <li>
                    <a href="badges.html">Contatos</a>
                </li>
                <li>
                    <a href="collapsible.html">Sobre</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="btn-adicionar-contato">
        <a class="waves-effect waves-light btn-small">ADICIONAR CONTATO
            <span class="material-icons-outlined">
                add
            </span>
        </a>
    </div>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Em@il</th>
                    <th>Celular</th>
                    <th>#Tags</th>
                    <th>...</th>
                </tr>
            </thead>
            <tbody>
                {% for contato in contatos_list %}
                    <tr>
                        <td>{{contato['nome']}} </td>
                        <td>{{contato['email']}} </td>
                        <td>{{contato['celular']}} </td>
                        {% if contato['tags'] and contato['links_img_tag'] %}
                            {% set tags_contato = contato['tags'] %}
                            {% set links_img_tag = contato['links_img_tag'] %}
                        {% endif %}
                        {% for tag_contato, link_img_tag in zip(tags_contato, links_img_tag) %}
                        <td>
                            <a class="waves-effect waves-light btn-small" href="{{link_img_tag}}">{{tag_contato}}</a>
                        </td>
                        {% endfor %}
                        <td>
                            <a class="waves-effect waves-light btn-small">
                                <i class="material-icons right" >delete</i>
                                Deletar
                            </a>
                            <a class="waves-effect waves-light btn-small">
                                <i class="material-icons right" >edith</i>
                                Editar
                            </a>
                        </td>
                    </tr>
                {% endfor %}
              </tbody>
        </table>
    </div>
</body>
</html>